{% load staticfiles %}<!doctype html>
<html>
<head>
<title>栞</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<!--<script src="{% static 'jquery/jquery.min.js' %}"></script>-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'twbs/css/bootstrap.min.css' %}" />-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<!--<script src="{% static 'twbs/js/bootstrap.min.js' %}"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'twbs/js/bootstrap-typeahead.min.js' %}"></script>
<script src="{% static 'twbs/js/bootstrap-tooltip.min.js' %}"></script>
<script src="{% static 'twbs/js/bootstrap-popover.min.js' %}"></script>
<script src="{% static 'json/json2.min.js' %}"></script>
<script src="{% static 'underscore/underscore.min.js' %}"></script>
<script src="{% static 'backbone/backbone.min.js' %}"></script>
<!-- http://google-caja.googlecode.com/svn-history/r2466/trunk/src/com/google/caja/plugin/html4-defs.js -->
<script src="{% static 'js/html4-defs.js' %}"></script>
<!-- http://google-caja.googlecode.com/svn-history/r5661/trunk/src/com/google/caja/plugin/html-sanitizer.js -->
<script src="{% static 'js/html-sanitizer.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
  <div id="main">
    <div class="navbar navbar-default" role="navigation">
		  <a class="navbar-brand" href="/shiori">栞</a>
		  <div class="navbar-collapse collapse">
			<ul class="nav navbar-nav nav-pills" id="nav">
			  {% if is_authenticated %}
			  <li><a id="add" data-toggle="pill"><span class="glyphicon glyphicon-edit"></span> add</a></li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }}&nbsp;<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="/shiori/profile"><span class="glyphicon glyphicon-info-sign"></span> profile</a></li>
				  <li><a href="/shiori/feed_subscription"><span class="glyphicon glyphicon-list"></span> subscribe feeds</a></li>
				  <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
				</ul>
			  </li>
			  {% else %}
			  <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Sign in with OpenID</a></li>
			  {% endif %}
			  <li><a>view all <input type="checkbox" id="is_all"/></a></li>
            </ul>
			<form class="navbar-form navbar-left">
			  <input id="search-word" name="search" class="form-control" type="text" placeholder="search title or description"/>
			  <button id="search-btn" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
              </button>
			</form>
          <div class="row" id="submenu">
            <ul class="nav nav-pills"></ul>
          </div>
      </div>
    </div>
    <div class="container">
	  {% block content %}{% endblock %}
	  <div class="row footer">
		Powered by <a href="https://github.com/mkouhei/shiori">Shiori</a>.
	  </div>
    </div>
  </div>
</body>
</html>
